
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  p {
    font-weight: 300;
    margin-top: 1rem;
    line-height: 160%
  }
  .navbar {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #1f2937;
  }
 
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-item a {
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding: 13px 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: #3882f6;
  }
  
  .logo img {
    padding-left:3rem;
    vertical-align: middle;
  }

  .hero {
    padding: 7rem;
    color: white;
    min-height: 24rem;
    background-color:#1f2937;
}
    .hero h1 {
            font-size: 2.5rem;
        }

    .hero .flex-parent {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 3rem;
    }

    .hero .hero-left {
        max-width:40rem;
    }


    .hero #hero-img {
        border-radius: 2%;
        padding: 20px 50px;
        background-color: rgb(179, 187, 187);
    }

    button {
        margin-top: 3rem;
        min-width: 9rem;
        min-height: 2rem;
        color: white;
        border-radius: 15%;
        box-shadow: none;
        background-color: #3882f6;
    }
    h2, span{
        margin-top: 2rem;
        text-align: center;
    }
    
    .cards-flex-container{
        padding: 1rem 5rem 8rem 5rem;
        margin: 5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-around;

    }

    .card {
        flex: 1;
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .card .flex-child-img {
        height: 15rem;
        width: 15rem;
        border:#3882f6 1px solid;
        border-radius: 10px;
    }

    .flex-child-img img{
        height: 90%;
        width: 80%;
    }

    .card .flex-child-p {
         max-width: 80%;
    }

    .quote-container {
        color: #1f2937
        display: flex;
        flex-direction:row;
        align-items: center;
        padding: 8rem;
        background: lightgrey;
    }

    .quote-container h2 {
                font-size: 1.3rem;
        font-style: italic;
        font-weight: lighter;
    }

    .call-to-action-container {
        border: solid pink 2px;
        margin: 8rem 3rem;
        padding: 4rem;
        color: white;
        background: #3882f6;
    }

    .footer {
        padding: 3rem;
        text-align: center;
        color: white;
        background-color:#1f2937;
    }

    .quote-container #attribution {
        margin: 0;
        font-weight: 900;
        text-align: right;
    }
    
    #signupbutton {
    margin-top:20px;
    }