
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  p {
    font-weight: 300;
    margin-top: 1rem;
    line-height: 160%
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #1f2937;
    gap: 1px;
  }
 
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-item a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: #3882f6;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }

  .hero {
    color: white;
    min-height: 24rem;
    background-color:#1f2937;
}
    .hero h1 {
            font-size: 2.5rem;
        }

    .hero .flex-parent {
        margin: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 3rem;
    }


    .hero #hero-img {
        border-radius: 2%;
        padding: 20px 50px;
        background-color: rgb(179, 187, 187);
    }

    button {
        margin-top: 1rem;
        min-width: 7rem;
        min-height: 2rem;
        color: white;
        border-radius: 15%;
        box-shadow: none;
        background-color: #3882f6;
    }
    h2, span{
        margin-top: 2rem;
        text-align: center;
    }
    
    .cards-flex-container{
        margin: 5rem;
        display: flex;
        flex-direction: row;
    }

    .card {
        padding: 2%;
        flex: 1;
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .card .flex-child-img {
        padding: 6%;
        height: 10rem;
        width: 10rem;
        border:#3882f6 1px solid;
        border-radius: 10px;
    }

    .card .flex-child-p {
        max-width: 80%;
    }

    .quote-container {
        color: #1f2937
        display: flex;
        flex-direction:row;
        align-items: center;
        padding: 6rem;
        background: lightgrey;
    }

    .quote-container h2 {
        font-size: 1.3rem;
        font:400;
        font-style: italic;
        font-weight: 200;
    }

    .call-to-action-container {
     
        margin: 4rem 1rem;
        padding: 2rem;
        color: white;
        background: #3882f6;
    }

    .footer {
        padding: 3rem;
        text-align: center;
        color: white;
        background-color:#1f2937;
    }

    .quote-container #attribution {
        margin: 0;
        font-weight: 900;
        text-align: right;
    }
    
    #signupbutton {
        align-self: 
    }